<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicTrends - API</title>
</head>
<body>
    <h1>MusicTrends API</h1>

    <ul>
        <li>/api/categories - Get all music categories</li>
        <li>/api/songs/likes/top/[amount]</li>
        <li>/api/songs/dislikes/top/[amount]</li>
        <li>/api/songs/views/top/[amount]</li>
        <li>/api/songs/views/bottom/[amount]</li>
        <li>/api/words/top/[amount]</li>
        <li>/api/words/bottom/[amount]</li>
        <li>/api/songs/wordscore/top/[amount]</li>
    </ul>

</body>
</html>