<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicTrends - API</title>
</head>
<body>
    <h1>MusicTrends API</h1>

    <ul>
        <li>/api/categories - Get all music categories</li>
        <li>/api/songs/likes/top/[amount]</li>
        <li>/api/songs/dislikes/top/[amount]</li>
        <li>/api/songs/views/top/[amount]</li>
        <li>/api/songs/views/bottom/[amount]</li>
        <li>/api/words/top/[amount]</li>
        <li>/api/words/bottom/[amount]</li>
        <li>/api/songs/wordscore/top/[amount]</li>

        <li>/api/artists - Get all artists</li>
        <li>/api/songs_for_artist/[artist] - Get all songs for artists</li>
        <li>/api/lyrics/get?song=[song]&artist=[artist] - Show lyrics for song</li>

        <li> Only For Authorised Personal</li>
        <li>/api/youtube/update?key=[key]&song=[song]&artist=[artist] -Update Youtube Data for song</li>
        <li>/api/songs/add?key=[key]&song=[song]$artist=[artist]&category=[category] - Add song to DB</li>
        <li>/api/blacklist_artist?key=[key]&artist=[artist] - Change artist status to inactive</li>
        <li>/api/lyrics/update?key=[key]&song=[song]$artist=[artist]&lyrics=[lyrics] - Update lyrics</li>
    </ul>

</body>
</html>