
.App {
  text-align: center;
  background: #fafafa !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #222; */
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

h1 {
  font-family: 'open sans',arial,sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 50px;
  line-height: 36px;
  letter-spacing: -.05em;
}

h2 {
  font-size: 30px;
}

.ant-layout-header{
    background-color: rgb(240, 242, 245);
    padding-top: 15px;
}

.ant-menu{
    text-align: left;
    background-color: #1a436b;
}